<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Billiards Logo" src="../../assets/logo.svg" />
  <span>Amsterdam Biliards Club</span>
  <div class="spacer"></div>

  <!-- nav -->
  <nav class="navbar navbar-expand" *ngIf="currentUser">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/book">Book</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
  </nav>
</div>