a {
  color: white;
  cursor: pointer;

  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;

  &:hover {
    border-bottom-color: #1A6E54;
  }
}

.spacer {
  flex: 1;
}

.toolbar {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: white;
  font-weight: 600;

  img {
    margin: 0 16px;
  }

  svg {
    color: white !important;
    fill: white !important;
  }
}