<div id="homeWrapper">
  <div class="row welcome-message justify-content-center align-items-center">
    <div class="slide-left col-4">
      <h1>NYC's Favorite Party Space</h1>
      <h2>NOT JUST A POOL HALL</h2>
      <a class="btn btn-primary" routerLink="/book">
        Book a party
      </a>
    </div>
    <img class="roll-in" src="../../../assets/ball.png">
  </div>
  <div class="row">
    <img class="home-image-left col-md-6" src="../../../assets/old_players.png">
    <img class="home-image-right col-md-6" src="../../../assets/murano.jpg">
  </div>
  <audio controls preload="auto">
    <source src="../../../assets/ball_roll.mp3" controls>
  </audio>
  <!-- <div class="row mt-5">
    <span class="col-md-6">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    </span>
    <span class="col-md-6">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    </span>
  </div>
  <div class="row mt-5">
    <img class="home-image-left col-md-6" src="../../../assets/old_players.png">
    <img class="home-image-right col-md-6" src="../../../assets/murano.jpg">
  </div>
  <div class="row mt-5">
    <span class="col-md-6">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    </span>
    <span class="col-md-6">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    </span>
  </div> -->
</div>