/* You can add global styles to this file, and also import other style files */
body {
    // background-image: url('ssets/murano.jpg');
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-position: center;
    // background-size: cover;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

#darkLayer {
    min-height: 100vh;
}

/* Buttons styling */
.btn-primary {
    background-color: #1A6E54;
    border-color: #1A6E54;

    &:hover { 
        background-color: #155843;
        border-color: #155843;
    }
} 